div {
  .border: solid 8px red;
  .background-color: #eeeeee
}
#hand{
  .border: solid 8px red;
  display: flex;
}
.hand-card{
  padding-left: 5px;
  padding-right: 5px;
}

#field{
}
#select_reading{
  height: 200px;
}
.syntax-tree:hover{
  cursor: pointer;
}
#console{
  height: 100px;
}
.zone{
  width: 200px;
  height: 200px;
  display: table;
  text-align: center;
  position:relative;
}
.no-monster{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.monster-zone{
  display: flex;
}
.monster-to-summon-zone{
  display: flex;
}
.syntax-tree > svg{
}


.zone > svg{
  position: relative;
}

.active{
  text-decoration: underline;
  color: #0000ff;
}
.active:hover {
  color: #770077;
  text-decoration: none;
  cursor: pointer;
}
